<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Add Category</h2>
                <form action="/categories/add" method="post">
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <input type="text" class="form-control" id="category" name="category" autofocus>
                    </div>
                    <button type="submit" class="btn btn-success">Add Category</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/public/js/bootstrap.min.js"></script>
</body>

</html>